<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product catlog</title>
</head>
<body>
<a href="myorder">MyOrder</a><br>
   <table>
       <thead>
          <tr>
              <th>Product Code</th>
              <th>Product Name</th>
              <th>Product Price</th>
              <th>Available</th>
              <th>Order</th>
          </tr>
       </thead>
       <tbody>
          <tr th:each="product :${productlist}">
              <td th:text="${product.getProductCode()}"></td>
              <td th:text="${product.getProductName()}"></td>
              <td th:text="${product.getProductPrice()}"></td>
              <td th:text="${product.getNoOfSample()}"></td>
              <td><a th:href="'order?productcode='+${product.getProductCode()}">Order</a> </td>
          </tr>
       </tbody>
   </table>
</body>
</html>