<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="login" method="post" th:object="${loginvm}">
       <b>User Name</b><input type="text" th:field="*{userName}"><br>
        <b>Password</b><input type="password" th:field="*{password}"><br>
        <button type="submit">Login</button>
    </form>
    <b th:text="${msg}"></b>
</body>
</html>